@model Farmalivio_Farmacia.Models.producto

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutFarmalivio.cshtml";
}
<link href="~/Asset/css/mystyle.css" rel="stylesheet" />
<div class="box-header with-border">
    <h3 class="box-title">Productos</h3>
    <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
    </div>
</div>

<div class="box-body">
    <div class="row">
        <div class="col-md-12">
            <main class="main">
                <div class="container-fluid">
                    <!-- Ejemplo de tabla Listado -->
                    <div class="card">
                        <div class="card-body">
                            <div class="box-header bg-gray-light text-black">
                                <div class="box-title">
                                    <i class="fa fa-align-justify"></i> Producto<!--Nombre del catalogo actual -->
                                    <a href="@Url.Action("Index", "Productos" )" class="btn btn-primary"><i class="fa fa-reply "></i>&nbsp;Atras</a>
                                </div>
                            </div><br />
                            @using (Html.BeginForm("Guardar", "Productos", FormMethod.Post, new { id = "frm-producto" }))
                            {
                            @*@Html.AntiForgeryToken()*@

                            <div class="row">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.nombre_producto, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.nombre_producto, new { htmlAttributes = new { @class = "form-control" } })
                                        <div class="row">
                                            <div class="col-md-1 col-sm-1 col-xs-1">
                                                <span class="text-white">(*)</span>
                                            </div>
                                            <div class="col-md-11 col-sm-11 col-xs-11">
                                                @Html.ValidationMessageFor(model => model.nombre_producto, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.descripcion_producto, htmlAttributes: new { @class = "control-label " })
                                        @Html.EditorFor(model => model.descripcion_producto, new { htmlAttributes = new { @class = "form-control" } })
                                        <div class="row">
                                            <div class="col-md-1 col-sm-1 col-xs-1">
                                                <span class="text-white">(*)</span>
                                            </div>
                                            <div class="col-md-11 col-sm-11 col-xs-11">
                                                @Html.ValidationMessageFor(model => model.descripcion_producto, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.codigo_producto, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.codigo_producto, new { htmlAttributes = new { @class = "form-control" } })
                                        <div class="row">
                                            <div class="col-md-1 col-sm-1 col-xs-1">
                                                <span class="text-white">(*)</span>
                                            </div>
                                            <div class="col-md-11 col-sm-11 col-xs-11">
                                                @Html.ValidationMessageFor(model => model.codigo_producto, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.contiene, htmlAttributes: new { @class = "control-label" })
                                        <div class="input-group">
                                            <div class="input-group-btn">
                                                @Html.DropDownList("id_umedida", null, htmlAttributes: new { @class = "btn btn-default btn-flat" })
                                            </div>
                                            <!-- /btn-group -->
                                            @Html.EditorFor(model => model.contiene, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                        <div class="row">
                                            <div class="col-md-1 col-sm-1 col-xs-1">
                                                <span class="text-white">(*)</span>
                                            </div>
                                            <div class="col-md-11 col-sm-11 col-xs-11">
                                                @Html.ValidationMessageFor(model => model.contiene, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.precio_venta, htmlAttributes: new { @class = "control-label " })
                                        @Html.EditorFor(model => model.precio_venta, new { htmlAttributes = new { @class = "form-control" } })
                                        <div class="row">
                                            <div class="col-md-1 col-sm-1 col-xs-1">
                                                <span class="text-white">(*)</span>
                                            </div>
                                            <div class="col-md-11 col-sm-11 col-xs-11">
                                                @Html.ValidationMessageFor(model => model.precio_venta, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.undxcajas, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.undxcajas, new { htmlAttributes = new { @class = "form-control" } })
                                        <div class="row">
                                            <div class="col-md-1 col-sm-1 col-xs-1">
                                                <span class="text-white">(*)</span>
                                            </div>
                                            <div class="col-md-11 col-sm-11 col-xs-11">
                                                @Html.ValidationMessageFor(model => model.undxcajas, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.id_laboratorio, "Laboratorio", htmlAttributes: new { @class = "control-label" })
                                        <div class="input-group">
                                            @*@Html.DropDownList("id_laboratorio", null, htmlAttributes: new { @class = "form-control" })*@
                                            <select class="form-control" name="id_laboratorio" id="id_laboratorio"></select>
                                            <div class="input-group-btn">
                                                <button type="button" id="btn_Nuevo_Laboratorio" data-target="#modal-laboratorio" data-toggle="modal" class="btn btn-primary btn-flat"><span class="fa fa-plus-circle"></span></button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-1 col-sm-1 col-xs-1">
                                                <span class="text-white">(*)</span>
                                            </div>
                                            <div class="col-md-11 col-sm-11 col-xs-11">
                                                @Html.ValidationMessageFor(model => model.id_laboratorio, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.id_presentacion, "Presentacion", htmlAttributes: new { @class = "control-label" })
                                        <div class="input-group">
                                            @*@Html.DropDownList("id_presentacion", null, htmlAttributes: new { @class = "form-control" })*@
                                            <select class="form-control" name="id_presentacion" id="id_presentacion"></select>
                                            <div class="input-group-btn">
                                                <button type="button" id="btn_Nuevo_Presentacion" data-target="#modal-presentacion" data-toggle="modal" class="btn btn-primary btn-flat"><span class="fa fa-plus-circle"></span></button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-1 col-sm-1 col-xs-1">
                                                <span class="text-white">(*)</span>
                                            </div>
                                            <div class="col-md-11 col-sm-11 col-xs-11">
                                                @Html.ValidationMessageFor(model => model.id_presentacion, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.id_generico, "Generico", htmlAttributes: new { @class = "control-label" })
                                        <div class="input-group">
                                            @*@Html.DropDownList("id_generico", null, htmlAttributes: new { @class = "form-control" })*@
                                            <select class="form-control" name="id_generico" id="id_generico"></select>
                                            <div class="input-group-btn">
                                                <button type="button" id="btn_Nuevo_Generico" data-target="#modal-generico" data-toggle="modal"  class="btn btn-primary btn-flat"><span class="fa fa-plus-circle"></span></button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-1 col-sm-1 col-xs-1">
                                                <span class="text-white">(*)</span>
                                            </div>
                                            <div class="col-md-11 col-sm-11 col-xs-11">
                                                @Html.ValidationMessageFor(model => model.id_generico, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label>Añadir Patologias</label>
                                                <div class="input-group">
                                                    <select id="id_patologia" class="form-control " name="patologias" data-live-search=""></select>
                                                    <div class="input-group-btn">
                                                        <button class="btn btn-primary" type="button" id="btnAgregar"><i class=""></i>&nbsp;Agregar</button>|
                                                        <button class="btn btn-primary btn-flat" type="button" data-target="#modal-patologia" data-toggle="modal" id="btn_Nuevo_Patologia"><i class="fa fa-plus-circle"></i></button>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-1 col-sm-1 col-xs-1">
                                                        <span>(*)</span>
                                                    </div>
                                                    <div class="col-md-11 col-sm-11 col-xs-11 ">
                                                        @*<span id="errorpatologia"></span>*@
                                                        @Html.ValidationMessage("patologia", new { @class = " text-danger", id = "patologia-validacion" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="">
                                            <div class="box-body">
                                                <table class="table table-bordered table-responsive" id="tabla_patologias">
                                                    <thead>
                                                        <tr>
                                                            <td hidden="hidden"></td>
                                                            <th>Patologias</th>
                                                            <th>Opciones</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                                @*@Html.ValidationMessage("patologia", new { @class = " text-danger", id = "patologia-validacion" })*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label>Añadir Categoria</label>
                                                <div class="input-group">
                                                    <select id="id_categoria" name="categorias" class="form-control"></select>
                                                    <div class="input-group-btn">
                                                        <button class="btn btn-primary" type="button" id="btnAgregar_cat"><i class=""></i>&nbsp;Agregar</button>
                                                        <button class="btn btn-primary btn-flat" type="button" data-target="#modal-categoria" data-toggle="modal" id="btn_Nuevo_Categoria"><i class="fa fa-plus-circle"></i></button>

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-1 col-sm-1 col-xs-1">
                                                        <span class="btn-sm">(*)</span>
                                                    </div>
                                                    <div class="col-md-11 col-sm-11 col-xs-11 ">
                                                        @*<span id="errorpatologia"></span>*@
                                                        @Html.ValidationMessage("categoria", new { @class = " text-danger", id = "categoria-validacion" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="">
                                            <div class="box-body">
                                                <table class="table table-bordered table-responsive" id="tabla_categorias">
                                                    <thead>
                                                        <tr>
                                                            <td hidden="hidden"></td>
                                                            <th>Categorias</th>
                                                            <th>Opciones</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                                @*@Html.ValidationMessage("categoria", new { @class = " text-danger", id = "categoria-validacion" })*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                @Html.ValidationMessage("errorProducto", new { @class = "text-danger", id = "Producto-validacion" })
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;Guardar</button>
                            </div>
                            }

                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>

<div class="modal fade modal-slide-in-right" aria-hidden="true" role="dialog" tabindex="-1" id="modal-categoria">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-light-blue-active">
                <button class="close" type="button" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">Nueva Categoria</h4>
            </div>
            @using (Html.BeginForm("GuardarCategoria", "Productos", FormMethod.Post, new { id = "frm-categoria" }))
            {
            <div class="modal-body">
                <span hidden="hidden" class="field-validation-valid label label-danger" data-valmsg-for="" data-valmsg-replace="true" id="error-validacion"></span>
                <div class="form-group">
                    <label class="control-label col-md-2">Categoria</label>
                    <input class="form-control text-box single-line" data-val="true" data-val-maxlength="Maximo de carateres 20" data-val-maxlength-max="20" data-val-minlength="Minimo de carateres 2" data-val-minlength-min="2" data-val-required="El campo es obligatorio." id="nombre_categoria" name="nombre_categoria" placeholder="Nombre categoria" type="text" value="">
                    <span hidden="hidden" class="field-validation-valid  text-danger" data-valmsg-for="nombre_categoria" data-valmsg-replace="true" id="nombre_categoria-validacion"></span>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Descripcion</label>
                    <input class="form-control text-box single-line" data-val="true" data-val-maxlength="Maximo de carateres 50" data-val-maxlength-max="50" id="descripcion_categoria" placeholder="Descripcion categoria" name="descripcion_categoria" type="text" value="">
                    @*<input class="form-control" type="date" data-val-required="El campo Producto es obligatorio." />*@
                    <span hidden="hidden" class="field-validation-valid text-danger" data-valmsg-for="descripcion_categoria" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="modal-footer">
                <input type="submit" class="btn btn-primary" value="Guardar" id="btn-guardar-categoria" />
                <input type="button" class="btn btn-secondary" data-dismiss="modal" value="Cancelar"  />
            </div>
            }
        </div>
    </div>
</div>

<div class="modal fade modal-slide-in-right" aria-hidden="true" role="dialog" tabindex="-1" id="modal-patologia">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-light-blue-active">
                <button class="close" type="button" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">Nueva Patologia</h4>
            </div>
            @using (Html.BeginForm("GuardarPatologia", "Productos", FormMethod.Post, new { id = "frm-patologia" }))
            {
                <div class="modal-body">
                    <span hidden="hidden" class="field-validation-valid label label-danger" data-valmsg-for="" data-valmsg-replace="true" id="error-validacion"></span>
                    <div class="form-group">
                        <label class="control-label col-md-2">Patologia</label>
                        <input class="form-control text-box single-line" data-val="true" data-val-maxlength="Maximo de carateres 20" data-val-maxlength-max="20" data-val-minlength="Minimo de carateres 2" data-val-minlength-min="2" data-val-required="El campo es obligatorio." id="nombre_patologia" name="nombre_patologia" placeholder="Nombre patologia" type="text" value="">
                        <span hidden="hidden" class="field-validation-valid  text-danger" data-valmsg-for="nombre_patologia" data-valmsg-replace="true" id="nombre_patologia-validacion"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Descripcion</label>
                        <input class="form-control text-box single-line" data-val="true" data-val-maxlength="Maximo de carateres 50" data-val-maxlength-max="50" id="descripcion_patologia" placeholder="Descripcion patologia" name="descripcion_patologia" type="text" value="">
                        @*<input class="form-control" type="date" data-val-required="El campo Producto es obligatorio." />*@
                        <span hidden="hidden" class="field-validation-valid text-danger" data-valmsg-for="descripcion_patologia" data-valmsg-replace="true"></span>
                    </div>
                </div>

                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="Guardar" id="btn-guardar-patologia" />
                    <input type="button" class="btn btn-secondary" data-dismiss="modal" value="Cancelar" />
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade modal-slide-in-right" aria-hidden="true" role="dialog" tabindex="-1" id="modal-laboratorio">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-light-blue-active">
                <button class="close" type="button" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">Nuevo Laboratorio</h4>
            </div>
            @using (Html.BeginForm("GuardarLaboratorio", "Productos", FormMethod.Post, new { id = "frm-laboratorio" }))
            {
                <div class="modal-body">
                    <span hidden="hidden" class="field-validation-valid label label-danger" data-valmsg-for="" data-valmsg-replace="true" id="error-validacion"></span>
                    <div class="form-group">
                        <label class="control-label col-md-2">Laboratorio</label>
                        <input class="form-control text-box single-line" data-val="true" data-val-maxlength="Maximo de carateres 30" data-val-maxlength-max="30" data-val-minlength="Minimo de carateres 2" data-val-minlength-min="2" data-val-required="El campo es obligatorio." id="nombre_laboratorio" name="nombre_laboratorio" placeholder="Digite laboratorio" type="text" value="">
                        <span hidden="hidden" class="field-validation-valid  text-danger" data-valmsg-for="nombre_laboratorio" data-valmsg-replace="true" id="nombre_laboratorio-validacion"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Descripcion</label>
                        <input class="form-control text-box single-line" data-val="true" data-val-maxlength="Maximo de carateres 50" data-val-maxlength-max="50" id="descripcion_laboratorio" placeholder="Digite descripcion" name="descripcion_laboratorio" type="text" value="">
                        @*<input class="form-control" type="date" data-val-required="El campo Producto es obligatorio." />*@
                        <span hidden="hidden" class="field-validation-valid text-danger" data-valmsg-for="descripcion_laboratorio" data-valmsg-replace="true"></span>
                    </div>
                </div>

                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="Guardar" id="btn-guardar-laboratorio" />
                    <input type="button" class="btn btn-secondary" data-dismiss="modal" value="Cancelar" />
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade modal-slide-in-right" aria-hidden="true" role="dialog" tabindex="-1" id="modal-presentacion">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-light-blue-active">
                <button class="close" type="button" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">Nueva Presentacion</h4>
            </div>
            @using (Html.BeginForm("GuardarPresentacion", "Productos", FormMethod.Post, new { id = "frm-presentacion" }))
            {
                <div class="modal-body">
                    <span hidden="hidden" class="field-validation-valid label label-danger" data-valmsg-for="" data-valmsg-replace="true" id="error-validacion"></span>
                    <div class="form-group">
                        <label class="control-label col-md-2">Presentacion</label>
                        <input class="form-control text-box single-line" data-val="true" data-val-maxlength="Maximo de carateres 30" data-val-maxlength-max="30" data-val-minlength="Minimo de carateres 2" data-val-minlength-min="2" data-val-required="El campo es obligatorio." id="nombre_presentacion" name="nombre_presentacion" placeholder="Digite presentacion" type="text" value="">
                        <span hidden="hidden" class="field-validation-valid  text-danger" data-valmsg-for="nombre_presentacion" data-valmsg-replace="true" id="nombre_presentacion-validacion"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Descripcion</label>
                        <input class="form-control text-box single-line" data-val="true" data-val-maxlength="Maximo de carateres 50" data-val-maxlength-max="50" id="descripcion_presentacion" placeholder="Digite descripcion" name="descripcion_presentacion" type="text" value="">
                        @*<input class="form-control" type="date" data-val-required="El campo Producto es obligatorio." />*@
                        <span hidden="hidden" class="field-validation-valid text-danger" data-valmsg-for="descripcion_presentacion" data-valmsg-replace="true"></span>
                    </div>
                </div>

                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="Guardar" id="btn-guardar-presentacion" />
                    <input type="button" class="btn btn-secondary" data-dismiss="modal" value="Cancelar" />
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade modal-slide-in-right" aria-hidden="true" role="dialog" tabindex="-1" id="modal-generico">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-light-blue-active">
                <button class="close" type="button" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">Agregar Generico</h4>
            </div>
            @using (Html.BeginForm("GuardarGenerico", "Productos", FormMethod.Post, new { id = "frm-generico" }))
            {
            <div class="modal-body">
                <span hidden="hidden" class="field-validation-valid label label-danger" data-valmsg-for="" data-valmsg-replace="true" id="error-validacion"></span>
                
                <div class="form-group">
                    <label class="control-label col-md-2">Generico</label>
                    <input class="form-control text-box single-line" id="nombre_generico" name="nombre_generico" type="text" value="" data-val="true" data-val-maxlength="Maximo de carateres 30" data-val-maxlength-max="30" data-val-minlength="Minimo de carateres 2" data-val-minlength-min="2" data-val-required="El campo es obligatorio." placeholder="Digite generico">

                    <span hidden="hidden" class="field-validation-valid  text-danger" data-valmsg-for="nombre_generico" data-valmsg-replace="true" id="nombre_generico-validacion"></span>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Descripcion</label>
                    <input class="form-control text-box single-line" id="descripcion_generico" name="descripcion_generico" type="text" value="" data-val="true" data-val-maxlength="Maximo de carateres 50" data-val-maxlength-max="25" data-val-minlength="Minimo de carateres 2" data-val-minlength-min="2" placeholder="Digite descripcion">
                </div>

            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" type="submit" id="btn-guardar-generico">Guardar</button>
                <button class="btn btn-default" type="button" data-dismiss="modal">Cerrar</button>
            </div>
            }
        </div>
    </div>
</div>

<script src="~/Asset/js/jquery.js"></script>
<script>
    $(document).ready(function () {
        $("#btnAgregar").click(function () {
            Agregar();
        });
    });
    $(document).ready(function () {
        $("#btnAgregar_cat").click(function () {
            AgregarCat();
        });
    });
    var contador = 0;
    ///Agregar las patologias a la  tabla para luego agregarlas al modole y guardar
    function Agregar() {
        id_patologia = $("#id_patologia").val();
        patologia = $("#id_patologia option:selected").text();

        var aprobar = 0;
        $.each($("#tabla_patologias tbody tr"), function () {
            var id_patologiaTable = $(this).find('td:eq(0)').html();
            if (id_patologia == id_patologiaTable) {
                aprobar = 1;
            }
        });

        if (aprobar == 0) {
            var fila = '<tr id="fila' + contador + '"><td hidden="hidden">' + id_patologia + '</td> <td><input  hidden="hidden" id="patologias_selec" name="patologias_selec" value="' + id_patologia + '">' + patologia + '</td><td><button type="button" class="btn btn-danger btn-sm" onclick="Eliminar(' + contador + ');"><span class="fa fa-trash"></span></button></td></tr>';
            $("#tabla_patologias").append(fila);
            contador += 1;
        }
        else {
            alert("La patologia ya fue agregada!!!")
        }
    }
    ///Eliminar las patologias agregadas
    function Eliminar(index) {
        $("#fila" + index).remove();
    }

    //////////////////////////

    function AgregarCat() {
        id_categoria = $("#id_categoria").val();
        categoria = $("#id_categoria option:selected").text();
        var aprobar = 0;
        $.each($("#tabla_categorias tbody tr"), function () {
            var id_categoriaTable = $(this).find('td:eq(0)').html();
            if (id_categoria == id_categoriaTable) {
                aprobar = 1;
            }
        });

        if (aprobar == 0) {
            var fila = '<tr id="filacat' + contador + '"><td hidden="hidden">' + id_categoria + '</td> <td><input  hidden="hidden" id="categorias_selec" name="categorias_selec" value="' + id_categoria + '">' + categoria + '</td><td><button type="button" class="btn btn-danger btn-sm" onclick="EliminarCat(' + contador + ');"><span class="fa fa-trash"></span></button></td></tr>';
            $("#tabla_categorias").append(fila);
            contador += 1;
        }
        else {
            alert("La categoria ya fue agregada!!!")
        }
    }
    function EliminarCat(index) {
        $("#filacat" + index).remove();
    }

    ///////////////////////////////////////////
    //////cargar el listado de categorias
    $(window).on("load", listarCategoria);
    $(window).on("load", listarPatologia);
    $(window).on("load", listarLaboratorio);
    $(window).on("load", listarPresentacion);
    $(window).on("load", listarGenerico);
    //**********************************************************
    //mandar a cargar los combobox despues de guardar un registro nuevo
    //**********************************************************
    function listarCategoria() {
        $.get("/productos/listarCategoria", function (data) {
            llenarCombo(data, document.getElementById("id_categoria"), true);
        });
    }

    function listarPatologia() {
        $.get("/productos/listarPatologia", function (data) {
            llenarCombo(data, document.getElementById("id_patologia"), true);
        });
    }

    function listarLaboratorio() {
        $.get("/productos/listarLaboratorio", function (data) {
            llenarCombo(data, document.getElementById("id_laboratorio"), true);
        });
    }
    
    function listarPresentacion() {
        $.get("/Productos/listarPresentacion", function (data) {
            console.log(data);
            llenarCombo(data, document.getElementById("id_presentacion"), true);
        });
    }

    function listarGenerico() {
        $.get("/Productos/listarGenerico", function (data) {
            console.log(data);
            llenarCombo(data, document.getElementById("id_generico"), true);
        });
    }


    function llenarCombo(data, control, primerElemento) {
        var contenido = "";
        if (primerElemento == true) {
            //contenido += "<option value=''>--Seleccione--</option>";
        }
        for (var i = 0; i < data.length; i++) {
            contenido += "<option value='" + data[i].id + "'>";

            contenido += data[i].category;

            contenido += "</option>";
        }
        control.innerHTML = contenido;
    }

    //////////////////////////////////////////
    ////////////Funcion para gurdar por ajax la tabla de producto
    ///////////con sus patologias

    $("#frm-producto").submit(function (e) {
        e.preventDefault();
        $("#patologia-validacion").text("").hide();
        $("#categoria-validacion").text("").hide();
        $("#Producto-validacion").text("").hide();
        //var form = $(this);
        //jQuery.noConflict();
        @*if (form.validate()) {
            //debugger;
            form.ajaxSubmit({

                dataType: 'JSON',
                type: 'POST',
                url: '/Productos/Guardar',
                success: function (r) {
                    if (r.Respuesta) {
                        window.location.href = '@Url.Action("Index", "Productos")';
                    }
                    else {
                        if (r.Error != "") {
                            $("#patologia-validacion").text(r.Error).show();
                        }
                        if (r.Erroradicional != "") {
                            $("#categoria-validacion").text(r.ErrorAdicional).show();
                        }
                        if (r.ErrorEntidad) {
                            $("#Producto-validacion").text(r.ErrorEntidad).show();
                        }
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        }*@
        var data = $(this).serialize()
        $.post("/Productos/Guardar", data)
            .done(function (respuesta, response, status, jqxhr) {
                if (respuesta.Respuesta) {
                    window.location.href = '@Url.Action("Index", "Productos")';
                } else {
                    if (respuesta.Error != "") {
                        $("#patologia-validacion").text(respuesta.Error).show();
                    }
                    if (respuesta.Erroradicional != "") {
                        $("#categoria-validacion").text(respuesta.ErrorAdicional).show();
                    }
                    if (respuesta.ErrorEntidad) {
                        $("#Producto-validacion").text(respuesta.ErrorEntidad).show();
                    }
                }
            })
             .fail(function (jqxhr, status, error) {
                 alert(error);
             })
        return false;
    })

    //////////////guardar categoria
    $(document).ready(function () {
        $("#btn-guardar-categoria").click(function () {
            guardarCategoria();
        });
    });

    $(document).ready(function () {
        $("#btn-guardar-patologia").click(function () {
            guardarPatologia();
        });
    });

    $(document).ready(function () {
        $("#btn-guardar-generico").click(function () {
            guardarGenerico();
        });
    });
    
    $(document).ready(function () {
        $("#btn-guardar-laboratorio").click(function () {
            guardarLaboratorio();
        });
    });

    $(document).ready(function () {
        $("#btn-guardar-presentacion").click(function () {
            guardarPresentacion();
        });
    });
    ///funcion para guardar las categorias
    function guardarCategoria() {
        categoria = $("#nombre_categoria").val();
        descripcion = $("#descripcion_categoria").val();
        if (categoria != null) {
            if (categoria.length > 2 && categoria.length<30) {
                $("#frm-categoria").on('submit', function (e) {
                    e.preventDefault();
                    var data = $(this).serialize()
                    $.post("/Productos/GuardarCategoria", data)
                        .done(function (Respuesta, response, status, jqxhr) {
                            if (Respuesta.Respuesta) {
                                listarCategoria();
                                //var modalcategoria = document.getElementById('modal-categoria');
                                //modalcategoria.classList.toggle('in');
                                $('#nombre_categoria').val('');
                                $('#descripcion_categoria').val('');
                                alert("La categoria se agrego correctamente!!!");
                            } else {
                                alert(Respuesta.Error);
                                $("#error-validacion").text(Respuesta.Error).show();
                            }

                        })
                    .fail(function (jqxhr, status, error) {
                        alert(error);
                    })
                })
            } else {
                $("#nombre_categoria-validacion").text("Minimo de caracteres 2, Maximo 30").show();
            }
        } else {
            $("#nombre_categoria-validacion").text("Categoria es Obligatorio").show();
        }
    }
    
    function guardarPatologia() {
        patologia = $("#nombre_patologia").val();
        descripcion = $("#descripcion_patologia").val();
        if (patologia != null) {
            if (patologia.length > 2 && patologia.length < 30) {
                $("#frm-patologia").on('submit', function (e) {
                    e.preventDefault();
                    var data = $(this).serialize()
                    $.post("/Productos/GuardarPatologia", data)
                        .done(function (Respuesta, response, status, jqxhr) {
                            if (Respuesta.Respuesta) {
                                listarPatologia();
                                //var modalcategoria = document.getElementById('modal-categoria');
                                //modalcategoria.classList.toggle('in');

                                $('#nombre_patologia').val('');
                                $('#descripcion_patologia').val('');
                                alert("La patologia se agrego correctamente!!!");
                            } else {
                                $("#error-validacion").text(Respuesta.Error).show();
                            }
                        })
                    .fail(function (jqxhr, status, error) {
                        alert(error);
                    })
                })
            } else {
                $("#nombre_patologia-validacion").text("Minimo de caracteres 2, Maximo 30").show();
            }
        } else {
            $("#nombre_patologia-validacion").text("Categoria es Obligatorio").show();
        }
    }

    function guardarLaboratorio() {
        laboratorio = $("#nombre_laboratorio").val();
        descripcion = $("#descripcion_laboratorio").val();
        if (laboratorio != null) {
            if (laboratorio.length > 2 && laboratorio.length < 30) {
                $("#frm-laboratorio").on('submit', function (e) {
                    e.preventDefault();
                    var data = $(this).serialize()
                    $.post("/Productos/GuardarLaboratorio", data)
                        .done(function (Respuesta, response, status, jqxhr) {
                            if (Respuesta.Respuesta) {
                                listarLaboratorio();

                                $('#nombre_laboratorio').val('');
                                $('#descripcion_laboratorio').val('');
                                alert("El laboratorio se agrego correctamente!!!");
                            } else {
                                $("#error-validacion").text(Respuesta.Error).show();
                            }
                        })
                    .fail(function (jqxhr, status, error) {
                        alert(error);
                    })
                })
            } else {
                $("#nombre_laboratorio-validacion").text("Minimo de caracteres 2, Maximo 30").show();
            }
        } else {
            $("#descripcion_laboratorio-validacion").text("Laboratorio es Obligatorio").show();
        }
    }

    function guardarPresentacion() {
        presentacion = $("#nombre_presentacion").val();
        descripcion = $("#descripcion_presentacion").val();
        if (presentacion != null) {
            if (presentacion.length > 2 && presentacion.length < 30) {
                $("#frm-presentacion").on('submit', function (e) {
                    e.preventDefault();
                    var data = $(this).serialize()
                    $.post("/Productos/GuardarPresentacion", data)
                        .done(function (Respuesta, response, status, jqxhr) {
                            if (Respuesta.Respuesta) {
                                listarPresentacion();

                                $('#nombre_presentacion').val('');
                                $('#descripcion_presentacion').val('');
                                alert("La presentacion se agrego correctamente!!!");
                            } else {
                                $("#error-validacion").text(Respuesta.Error).show();
                            }
                        })
                    .fail(function (jqxhr, status, error) {
                        alert(error);
                    })
                })
            } else {
                $("#nombre_presentacion-validacion").text("Minimo de caracteres 2, Maximo 30").show();
            }
        } else {
            $("#descripcion_presentacion-validacion").text("Presentacion es Obligatorio").show();
        }
    }

    function guardarGenerico() {
        presentacion = $("#nombre_generico").val();
        descripcion = $("#descripcion_generico").val();
        if (presentacion != null) {
            if (presentacion.length > 2 && presentacion.length < 30) {
                $("#frm-generico").on('submit', function (e) {
                    e.preventDefault();
                    var data = $(this).serialize()
                    $.post("/Productos/GuardarGenerico", data)
                        .done(function (Respuesta, response, status, jqxhr) {
                            if (Respuesta.Respuesta) {
                                listarGenerico();
                                //var modalcategoria = document.getElementById('modal-categoria');
                                //modalcategoria.classList.toggle('in');

                                $('#nombre_generico').val('');
                                $('#descripcion_generico').val('');
                                alert("El generico se agrego correctamente!!!");
                            } else {
                                $("#error-validacion").text(Respuesta.Error).show();
                            }
                        })
                    .fail(function (jqxhr, status, error) {
                        alert(error);
                    })
                })
            } else {
                $("#nombre_generico-validacion").text("Minimo de caracteres 2, Maximo 30").show();
            }
        } else {
            $("#nombre_generico-validacion").text("Presentacion es Obligatorio").show();
        }
    }

</script>
