@model Farmalivio_Farmacia.Models.NewPassword
@{
    ViewBag.Title = "Password";
    Layout = "~/Views/Shared/_LayoutFarmalivio.cshtml";
}


<div class="box-header with-border">
    <h3 class="box-title">Usuario</h3>
    <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
    </div>
</div>
<div class="box-body">
    <div class="row">
        <div class="col-md-12">
            <main class="main">
                <div class="container-fluid">
                    <!-- Ejemplo de tabla Listado -->
                    <div class="card">
                        <div class="card-body">
                            <div class="box-header bg-gray-light text-black">
                                <div class="box-title">
                                    <i class="fa fa-align-justify"></i> Perfil<!--Nombre del catalogo actual -->
                                    &nbsp;<a href="@Url.Action("index", "perfil")" class="btn btn-primary"><i class="fa fa-reply"></i>&nbsp;Atras</a>
                                </div>
                            </div><br />

                            @using (Html.BeginForm("Password", "perfil", FormMethod.Post))
                            {
                                <div class="row">

                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                           <label>Contraseña</label>
                                            @*@Html.EditorFor(model => model.contrasena, new { htmlAttributes = new { @class = "form-control", @placeholder = "Escriba la anterior contraseña" } })*@
                                            <input type="password" name="contrasena" class="form-control" placeholder="Escriba su contraseña"/>
                                            <div class="row">
                                                <div class="col-md-1 col-sm-1 col-xs-1">
                                                    <span class="text-white">(*)</span>
                                                </div>
                                                <div class="col-md-11 col-sm-11 col-xs-11">
                                                    @Html.ValidationMessageFor(model => model.contrasena, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.newcontrasena, htmlAttributes: new { @class = "control-label" })
                                            @*@Html.EditorFor(model => model.newcontrasena, new { htmlAttributes = new { @class = "form-control" } })*@
                                            <input type="password" name="newcontrasena" class="form-control" placeholder="Escriba su nueva contraseña" />
                                            <div class="row">
                                                <div class="col-md-1 col-sm-1 col-xs-1">
                                                    <span class="text-white">(*)</span>
                                                </div>
                                                <div class="col-md-11 col-sm-11 col-xs-11">
                                                    @Html.ValidationMessageFor(model => model.newcontrasena, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.newcontrasena2, htmlAttributes: new { @class = "control-label" })
                                            @*@Html.EditorFor(model => model.newcontrasena2, new { htmlAttributes = new { @class = "form-control" } })*@
                                            <input type="password" name="newcontrasena2" class="form-control" placeholder="Repita su nueva contraseña" />
                                            
                                            <div class="row">
                                                <div class="col-md-1 col-sm-1 col-xs-1">
                                                    <span class="text-white">(*)</span>
                                                </div>
                                                <div class="col-md-11 col-sm-11 col-xs-11">
                                                    @Html.ValidationMessageFor(model => model.newcontrasena2, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                 </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;Guardar</button>
                                </div>
                            }

                            <!-- ************* fin paginacion ************-->
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>


