@model Farmalivio_Farmacia.Models.umedida

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutFarmalivio.cshtml";
}

<div class="box-header with-border">
    <h3 class="box-title">Medidas</h3>
    <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
    </div>
</div>
<div class="box-body">
    <div class="row">
        <div class="col-md-12">
            <main class="main">
                <div class="container-fluid">
                    <!-- Ejemplo de tabla Listado -->
                    <div class="card">
                        <div class="card-body">
                            <div class="box-header bg-gray-light text-black">
                                <div class="box-title">
                                    <i class="fa fa-align-justify"></i> Medida<!--Nombre del catalogo actual -->
                                    <a href="@Url.Action("index", "Medidas")" class="btn btn-primary"><i class="fa fa-reply "></i>&nbsp;Atras</a>
                                </div>
                            </div><br />
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="row">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.nombre_umedida, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.nombre_umedida, new { htmlAttributes = new { @class = "form-control" } })
                                            <div class="row">
                                                <div class="col-md-1 col-sm-1 col-xs-1">
                                                    <span class="text-white">(*)</span>
                                                </div>
                                                <div class="col-md-11 col-sm-11 col-xs-11">
                                                    @Html.ValidationMessageFor(model => model.nombre_umedida, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.descripcion_umedida, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.descripcion_umedida, new { htmlAttributes = new { @class = "form-control" } })
                                            <div class="row">
                                                <div class="col-md-1 col-sm-1 col-xs-1">
                                                    <span class="text-white">(*)</span>
                                                </div>
                                                <div class="col-md-11 col-sm-11 col-xs-11">
                                                    @Html.ValidationMessageFor(model => model.descripcion_umedida, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @Html.ValidationMessage("errorMedida", new { @class = "label label-danger", id = "Medida-validacion" })
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;Guardar</button>
                                </div>
                            }


                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>

