@model Farmalivio_Farmacia.ViewModel.VentaViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutFarmalivio.cshtml";
}

<div class="box-header with-border">
    <h3 class="box-title">Ventas</h3>
    <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
    </div>
</div>
<div class="box-body">
    <div class="row">
        <div class="col-md-12">
            <main class="main">
                <div class="container-fluid">
                    <!-- Ejemplo de tabla Listado -->
                    <div class="card">
                        <div class="card-body">
                            <div class="box-header bg-gray-light text-black">
                                <div class="box-title">
                                    <i class="fa fa-align-justify"></i> Venta<!--Nombre del catalogo actual -->
                                    <a href="@Url.Action("Create", "Ventas")" class="btn btn-primary"><i class="fa fa-plus "></i>&nbsp;Nuevo</a>
                                </div>
                            </div><br />
                            <!--form para buesqueda test-->
                            <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                @using (Html.BeginForm("index", null, FormMethod.Get))
                                {
                                    <div class="row">
                                        <div class="form-inline">
                                            <select name="Criterio" class="form-control col-md-3" id="opcion">
                                                <option>Cliente</option>
                                                <option>Usuario</option>
                                                @*<option value="descripcion">Descripción</option>*@
                                            </select>
                                            @Html.TextBox("busqueda", "", new { @class = "form-control", @placeholder = "Escriba para buscar" })
                                            <button type="submit" class="btn btn-primary"><span class="fa fa-search"></span>Buscar</button>
                                        </div>
                                    </div>
                                }
                            </div>
                            </div>
                            <br />
                            <div class="alert-danger">
                                @ViewBag.Error
                            </div>
                            <div class="row">
                            <div class="table-responsive">
                                <!---contenido-->
                                <table class="table table-bordered table-responsive ">
                                    <thead>
                                        <tr>
                                            <th>Fecha</th>
                                            <th>usuario</th>
                                            <th>Cliente</th>
                                            <th>Total</th>
                                            <th>Estado</th>
                                            <th>Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Venta)
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(modelItem => item.fecha)</td>
                                                <td>@Html.DisplayFor(modelItem => item.usuario)</td>
                                                <td>@Html.DisplayFor(modelItem => item.cliente)</td>
                                                <td>@Html.DisplayFor(modelItem => item.total)</td>
                                                <td>@Html.DisplayFor(modelItem => item.nombre_estado)</td>
                                                <td>
                                                    <a href="@Url.Action("Detail", "Ventas", new {id=item.id_venta })" title="Ver Detalles" class="btn btn-warning btn-sm"><i class="fa fa-eye"></i></a>&nbsp;
                                                    <a onclick="return confirm('¿Desea anular la Venta?')" title="Anular Venta" href="@Url.Action("Anular", "Ventas", new {id=item.id_venta })" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            </div>
                            <nav>
                               @{Html.RenderPartial("_paginacion", Model);}
                            </nav>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>


